.sidebarHolder{
    padding: 0 40px;
    background: url("../../images/twoimg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
    display: flex;
    justify-content: center;
}

@media (max-width: 650px) {
    .sidebarHolder{
        max-width: 100%;
        width: 630px;
        padding: 0;
        margin: 0;
    }
}